.modal#confirm
  %h4.modal__title Confirm
  %p.modal__body Are you sure you want to edit the schedule of #{user.full_name}?
  .modal__footer
    %a.modal__footer-btn.yesBtn{href: "#"} Yes
    %a.modal__footer-btn.noBtn{href: "#"} No
.overlay
